# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/
.env

# Data files
*.zip

# Model / Pickle / Numpy files
*.pkl
*.npy

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
